.hero {
    background-color: $color-primary;
}

.hero__wrapper{
    background-image: url("../assets/bg/hero.png");
    background-image: no-repeat;
    max-width: $desktop-resolution;
    height: calc(100vh - $footer-height);
    background-size: cover;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin-top: 387px;
    padding: 66px 85px;
    max-width: 423px;
    @extend %radius;
    @extend %blurBg;
    @extend %border;

margin-bottom: 113px;
}
