.footer {
    background-color: $color-primary;
    min-height: 100px;
    display: flex;
    padding: 0 84px;
    align-items: center;
    justify-content: space-between;
}

.footer__author {
    @extend %font-secondary;
    @extend %font-color;
    cursor: pointer;
    @extend %transition;
    @include font(1.2rem, 1.4rem, 400, normal);
    margin: 0;
    padding: 0;
}