// colors, resolutions

$color-primary: #192F2D;
$color-font: #FFFFFF;
$color-link: #278D9F;
$color-svg: rgb(36, 197, 219);
$color-filters: rgba(31, 112, 127, 0.3);
$color-selected: #CBB77A;
$color-options: #183E42;




$desktop-resolution: 1920px;

$footer-height: 100px;